@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); 


*{
    margin:0; 
    padding: 0; 
    font-family: 'Poppins', sans-serif; 
    text-decoration: none;
    box-sizing: border-box; 
    border: none;
    outline: none;
    scroll-behavior: smooth; 
    
}

:root{ 
    --color1: #3edfcf; 
    --color2: #3edf51; 
    --color3: #df3ed4; 
    --color4: #dfd23e; 

    
}

html{ 
    font-size:63%; 
    overflow-x: hidden;
    
}

.body{ 
    overflow-x: hidden;
}



.header{ 
    background-color: white;
    position:fixed; 
    top:0; 
    bottom:0; 
    width:100%; 
    padding:1rem 4%; 
    height: 8vh;
    display: flex; 
    justify-content: space-between;
    z-index: 100;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}



section{ 
    min-height: 100vh;
    padding:1rem 4% 2rem; 
}

.header .logo{ 
    font-size: 2rem;
    font-weight: 700;
    color:black;
    width: 20%;; 
    
}

.logo img {
    max-width: 100%; 
    height: 5.1rem; 
    margin-top: -1rem;
}
.navbar{ 
   display: flex;
   justify-content: center; 

}

.navbar a{ 
    color:rgb(21, 20, 20); 
    font-size:1.3rem; 
    margin-left: 1.4rem;
    margin-right:1rem ;
}

.home{
    display:flex; 
    align-items:  center;
    justify-content: center;
    height:100vh;
    background: url(images/img1.jpg);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
}

.home h1{ 
    font-size: 5rem;
    text-align: center;
    background-color: black;
    padding: 1rem;
    color:white; 
    border-radius: 2rem;
    margin-top:0; 

}

.btn{
    display: inline-block; 
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 2.8rem;
    background: var(--color1);
    color: black; 
    font-weight: 800;
    font-size: 2rem;
    border-radius: 4rem;
    box-shadow: 0 0 2rem var(--color1);
    letter-spacing: .1rem;
    transition: 1s ease;
    width: 70%;
    height: 6rem;
    margin-left: 8rem;

}

.btn:hover{
    background-color: var(--color1);
    color: var(--main-color); 
    letter-spacing: .8rem;
    box-shadow: 0 0 4rem var(--color1);

    
}

.home .btn{ 
    margin-top: 3rem;

}


.about{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem ;
        
}

.about .about-content{
    display: block;
    width: 50vw; 
    margin-top: 0;
}

.about h1{ 
    font-size: 5rem;
    margin-bottom: 4rem;
    width:100%;
}

.about p{ 
    font-size: 1.4rem;
    line-height: 3rem;
}
.about img{
    width: 45vw; 
    border-radius: 2rem;
}



.pricing-plans h2{ 
    margin-bottom: 2rem;
    font-size: 5rem;
    display: block;
    width: 100%;
    text-align: center;
}

.pricing-plans p{
    font-size: 1.4rem;
}

.pricing-plans-container{ 
    display: flex;
    
}
.pricing-plans-box{ 
    width: 22%; 
    border-radius: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-left:1.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    line-height: 3rem;
    transition: 1.5s ease;
    text-align: center;
    position:relative; 
}

.pricing-plans-box-listening{ 
    width: 22%; 
    border-radius: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-left:1.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    line-height: 3rem;
    transition: 1.5s ease;
    text-align: center;
    position: relative;
}


.pricing-plans-box-reading{ 
    width: 22%; 
    border-radius: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-left:1.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    line-height: 3rem;
    transition: 1.5s ease;
    text-align: center;
    position: relative;
}

.pricing-plans-box-writing{ 
    width: 22%; 
    border-radius: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-left:1.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    line-height: 3rem;
    transition: 1.5s ease;
    text-align: center;
    position: relative;
}
.pricing-plans-box:hover{
    box-shadow: 0 0 10px rgba(50, 225, 210, 0.957);
    margin-right: .7rem; 
}

.pricing-plans-box-reading:hover{
    box-shadow: 0 0 10px orangered;
    margin-right: .7rem;
}

.pricing-plans-box-listening:hover{
    box-shadow: 0 0 10px var(--color2);
    margin-right: .7rem;
}

.pricing-plans-box-writing:hover{
    box-shadow: 0 0 10px var(--color3);
    margin-right: .7rem; 
}




.pricing-plan-title{ 
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.pricing-plan-btn{
    background-color: var(--color1);
    border-radius:2rem;
    padding: 1rem 1rem; 
    color:black; 
    margin-top: 5rem;
    justify-content: center;
    font-size: 1.4rem;
    width: 50%; 
    position: absolute;
    bottom: 2rem;
    left: 25%;
    

}

.pricing-plan-btn-reading{
    background-color: orangered;
    border-radius:2rem;
    padding: 1rem 1rem; 
    color:black; 
    margin-top: 5rem;
    justify-content: center;
    font-size: 1.4rem;
    width: 50%;
    position: absolute;
    bottom: 2rem;
    left: 25%;
}

.pricing-plan-btn-listening{
    background-color: var(--color2);
    border-radius:2rem;
    padding: 1rem 1rem; 
    color:black; 
    margin-top: 5rem;
    justify-content: center;
    font-size: 1.4rem;
    width: 50%;
    position: absolute;
    bottom: 2rem;
    left: 25%;
}

.pricing-plan-btn-writing{
    background-color: var(--color3);
    border-radius:2rem;
    padding: 1rem 1rem; 
    color:black; 
    margin-top: 5rem;
    justify-content: center;
    font-size: 1.4rem;
    width: 50%;
    position: absolute;
    bottom: 2rem;
    left:25%; 
}






.pricing-plans-box a{
    margin-top: 5rem;
}

.pricing-plans-box i{
    font-size: 2.4rem;
    margin-bottom: 1rem;
    color: var(--color1); 
    
}

.pricing-plans-box-reading i{
    font-size: 2.4rem;
    margin-bottom: 1rem;
    color: orangered;
   
}

.pricing-plans-box-listening i{
    font-size: 2.4rem;
    margin-bottom: 1rem;
    color: var(--color2);
}

.pricing-plans-box-writing i{
    font-size: 2.4rem;
    margin-bottom: 1rem;
    color: var(--color3);
}

.contact{
    margin-top: 0rem;
    text-align: center;
    background-color: grey;
    margin-bottom: -50rem;
}
.contact h2{ 
    margin-bottom: 2rem;
    font-size: 5rem;
    display: block;
    width: 100%;
    text-align: center;
}

.contact p{
    font-size: 1.4rem;
}

.contact i{
    font-size: 2.4rem ;
    margin: 1.3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subscription-block {
    background-color: #3edfcf;

}




@media screen and (max-width: 1200px ) {
    .pricing-plan-btn{
        width:80%;
        left: 10%;

    }

    .pricing-plan-btn-reading{
        width:80%;
        left: 10%;

    }    
    
    .pricing-plan-btn-listening{
        width:80%;
        left: 10%;

    }    
    
    .pricing-plan-btn-writing{
        width:80%;
        left: 10%;

    }

    
    .logo img {
        max-width: 150%; 
        height: 4rem; 
        margin-top: -1rem;
    }

    .navbar a{ 
        color:rgb(21, 20, 20); 
        font-size:1.3rem; 
        margin-left: 1.4rem;
        margin: 0.2rem;
        margin-right:1rem ;
    }

@media screen and (max-width:800px) {
    .logo img{
        height:4rem;
    }

    .navbar a{ 
        margin: .05rem;
        margin-left: 1rem;
    }

    .pricing-plans-container{
        display: block;
    }

    .pricing-plans-box{
        width: 90%;
        height:50vh; 
        scroll-behavior: smooth;
        margin-bottom: 1.6rem;
    }    

    .pricing-plans-box-reading{
        width: 90%;
        height:50vh; 
        scroll-behavior: smooth;
        margin-bottom: 1.6rem;
    }      
    
    .pricing-plans-box-listening{
        width: 90%;
        height:50vh; 
        scroll-behavior: smooth;
        margin-bottom: 1.6rem;
    }        
    
    .pricing-plans-box-writing{
        width: 90%;
        height:50vh; 
        scroll-behavior: smooth;
        margin-bottom: 1.6rem;
    }  
    
    
}


@media screen and (max-width:500px){
   
    .pricing-plans-container{
        display: block;
    }

    .pricing-plans-box{
        width: 90%;
        height:50vh; 
        scroll-behavior: smooth;
        margin-bottom: 1.6rem;
    }    

    .pricing-plans-box-reading{
        width: 90%;
        height:50vh; 
        scroll-behavior: smooth;
        margin-bottom: 1.6rem;
    }      
    
    .pricing-plans-box-listening{
        width: 90%;
        height:50vh; 
        scroll-behavior: smooth;
        margin-bottom: 1.6rem;
    }        
    
    .pricing-plans-box-writing{
        width: 90%;
        height:50vh; 
        scroll-behavior: smooth;
        margin-bottom: 1.6rem;
    }    

    .logo img {
        max-width: 220%; 
        height: 4rem; 
        margin-top: -1rem;
    }

    .navbar a{ 
        margin: 0.5rem; 
    }

    .btn{ 
        margin-left: 5rem;
    }

    .about img{
        display: none;
    }

    .about h1{
        margin-bottom: 2rem;
    }
  


}

@media screen and (max-width:300px){
    .btn{
        margin-left: 4rem;
    }

    .pricing-plans-box{
        height: 50vh;
    }

    .pricing-plans-box-reading{
        height: 50vh;
    }    
    
    .pricing-plans-box-listening{
        height: 50vh;
    }    
    
    .pricing-plans-box-writing{
        height: 50vh;
    }
}

}

